:root
  --primary: var(--theme-white)
  --secondary: var(--theme-black)
  --accent: var(--theme-red)

  --theme-white: #fff
  --theme-black: #1a1a1a
  --theme-red: #c80000

  --white: #fff
  --black: #000
  --transparent: #0000
