.light
  --background: #fff
  --text: #1a1a1a
  --accent: #093cca

  --background-shadow: #0004
  --border-gradient: hsl(from var(--accent) h s 80%), hsl(from var(--accent) calc(h + 20) s 70%)

.dark
  --background: #000
  --text: #ddd
  --accent: #46afdd

  --background-shadow: #000f
  --border-gradient: hsl(from var(--accent) h s 60%), hsl(from var(--accent) calc(h + 20) s 40%)