.light
  --background: #fff
  --text: #1a1a1a
  --accent: #1302a6

  --border-gradient: #f0f4ff, #d9e2ff

.dark
  --background: #000
  --text: #ddd
  --accent: #46afdd

  --border-gradient: var(--accent), #1771bb