@use '../font/electrolize'
@use './breakpoints' as bp
@use './colors' as c
@use './misc' as m

:root
  background-color: c.$primary
  font-family: Electrolize, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  overflow-x: clip

body
  margin: 0

p, h1, h2, h3, h4, h5, h6
  text-wrap: balance
  margin: 0
