@use '../font/electrolize'
  
:root
  --accent: #c80000
  --background: #000
  --text: #fefefe
  --h1: #c80000
  --h2: #c86400
  --h3: #c8bb00
  --h4: #3fc800
  --h5: #008cc8
  --h6: #8f00c8

  color: var(--text)
  background-color: var(--accent)
  font-family: Electrolize, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

body
  margin: 0

p, h1, h2, h3, h4, h5, h6
  text-wrap: balance
  margin: 1rem

h2, h3
  margin-top: 1.5rem

h4, h5, h6
  margin-top: 1.3rem

h1
  color: var(--h1)
h2
  color: var(--h2)
h3
  color: var(--h3)
h4
  color: var(--h4)
h5
  color: var(--h5)
h6
  color: var(--h6)