@use '../fonts/index'
@use './colors'
@use './text'
  
:root
  color: var(--text)
  background-color: var(--background)

  font-family: 'Atkinson Hyperlegible Mono', Inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  line-height: 1.6
  word-spacing: -0.2em
  scrollbar-color: var(--accent) black
  scrollbar-width: thin

body
  margin: 0
